.header{
    background-color: orangered;
    font-size: x-large;
    font-family: sans-serif;
    color:  #39ff14;
    text-shadow: black 5px;
    text-align: center;
}
p{
    font-size: xx-large;
    font-style: italic;
    font-weight: bolder;
    background-color: royalblue;
}
h2{
    font-size: xx-large;
    color: orchid;
    background-color: blanchedalmond;
    text-align: center;
}
hr{
    color: black;
    height: 1px;
}
.menu{
    text-align: end;

}
.grid{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
body{
    background-color: rgb(49, 120, 208);
}
